<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Photos</th>
            <th>Instagram</th>
            <th>Website</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for photographer in photographers %}
            <tr>
                <td><a href="{% url 'photographer_detail' photographer.id %}">{{ photographer.full_name }}</a></td>
                <td>{{ photographer.photo_count }}</td>
                <td>{{ photographer.instagram }}</td>
                <td>{{ photographer.website }}</td>
                <td><button class="btn btn-danger table_inline_button" unicorn:click="delete('{{ album.pk }}')">Delete</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
