django==4.1.7
django-imagekit==4.1.0
django-hashid-field==3.3.7
django-storages==1.13.2
Pillow==9.4.0
gunicorn==20.1.0
django-ninja==0.21.0
django-unicorn==0.50.0
django-environ==0.9.0
boto3==1.26.81
celery==5.2.7
psycopg2-binary==2.9.5
exif==1.6.0
django-debug-toolbar==3.8.1
IPTCInfo3==2.1.4
daphne==4.0.0
whitenoise==6.4.0
user-agents==2.2.0