<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Created</th>
        <th>Last updated at</th>
        <th>Items count</th>
    </tr>
    </thead>
    <tbody>
    {% for cart in carts %}
        <tr>
            <td><a href="{% url 'cart_detail' id=cart.pk %}">{{ cart.pk }}</a></td>
            <td>{{ cart.created_at }}</td>
            <td>{{ cart.updated_at }}</td>
            <td>{{ cart.products_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>