{% extends 'cms/base.html' %}
{% load unicorn %}

{% block title %}
    {{ album.title }}
{% endblock %}

{% block head %}
    <link href="https://releases.transloadit.com/uppy/v3.5.0/uppy.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>{{ album.title }}</h1>
{#    {% unicorn 'albums.album' album_id=album.hash_id_str %}#}

    <h2>Add more images</h2>
    <div id="drag-drop-area"></div>

{% endblock %}

{% block extra_js %}
    <script src="https://releases.transloadit.com/uppy/v3.5.0/uppy.min.js"></script>
    <script>
        var uppy = new Uppy.Uppy()
        uppy.use(Uppy.Dashboard, {target: '#drag-drop-area', inline: true})
        uppy.use(Uppy.XHRUpload, {endpoint: 'http://127.0.0.1:8000/api/album/DBL37zYwXP82Q/upload'})
    </script>
{% endblock %}