<div class="row border-top border-bottom">
    <div class="row main align-items-center">
        <div class="col-2"><img class="img-fluid" src="{{ detail.photo.small_thumbnail.url }}"></div>
        <div class="col">
            <div class="text-muted">Print:</div>
            <select class="form-select form-select-sm" unicorn:model="selected_print_category">
                {% for product_group in product_groups %}
                    <option value="{{ product_group.pk }}">{{ product_group.name }}</option>
                {% endfor %}
            </select>
            {% if selected_print_category %}
                {{ selected_print_category.id }}
                <div class="text-muted">Size:</div>
                <select class="form-select form-select-sm">
                {% for product in products %}
                    <option value="{{ product.pk }}">{{ product.sku }}</option>
                {% endfor %}
                </select>
            {% endif %}
        </div>
        <div class="col">
            <div class="input-group mb-3 input-group-sm">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1">-
                </button>
                <input type="text" class="form-control" unicorn:model="detail.count">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                        unicorn:click="order_detail_plus">+
                </button>
            </div>
        </div>
        <div class="col">&euro; 44.00</div>
        <div class="col">
            <button class="btn btn-sm btn-outline-primary">Duplicate picture</button>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-outline-danger" unicorn:click="del_component">X</button>
        </div>
    </div>
</div>
