<div class="row justify-content-center">
    {% for photo in photos %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        {% if photo.small_thumbnail %}
                            <img src="{{ photo.small_thumbnail.url }}">
                        {% endif %}
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                            <div class="col">
                                <div class="row text-muted">Shirt</div>
                                <div class="row">Cotton T-shirt</div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">-
                                    </button>
                                    <input type="text" class="form-control" placeholder=""
                                           aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">+
                                    </button>
                                </div>
                            </div>
                            <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-md-2">
        <div class="card">
            <h2>Summary</h2>
        </div>
    </div>

</div>
